// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$dark: rgb(179,64,65);

h3, .h3 {
    font-weight: 400 !important;
}

.navbar-logo {
    position: absolute;
    width: 226px;
    background: rgb(179,64,65);
    padding: 16px;
    border: 2px solid #e2cd9f;
    top: 23px;
    transition: 0.3s;
}

.navbar-logo:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 4px 4px #e2cd9f;
}

.jumbotron {
    background-image: url('https://www.lutherorgel-plauen.de/assets/img/banner-main-mobile.jpg');
    background-size: cover;
    height: 90vh;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        background-image: url('https://www.lutherorgel-plauen.de/assets/img/banner-main-tablet.jpg');
        height: 94vh;
        border-bottom: 4px solid #e2cd9f;
    }
}

@media screen and (min-width: 1200px) {
    .jumbotron {
        background-image: url('https://www.lutherorgel-plauen.de/assets/img/banner-main.jpg');
        background-size: cover;
        height: 600px;
    }
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 4px 4px #e2cd9f;
}

// overides-end

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/print";
