@charset "UTF-8";

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .gallery div {
        width: 100%;
        margin: 0 auto;
    }

    .gallery-bg {
        background-color: #212121;
    }

    .gallery-h2 {
        font-family: 'Great Vibes', cursive;
        font-size: 2em;
        text-align: center;
        color: #e04a0a;
        margin-top: 2em;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

body {
    background-color: #f9e8c7;
}

a,
a:hover {
    color: #8f4033;
}

nav,
footer {
    background-color: #8f4033;
    color: #e2cd9f;
}

footer p {
    margin: 0px;
}

footer a {
    color: #e2cd9f;
}

footer a:hover {
    color: #e2cd9f;
}

header {
    margin-bottom: 3.5em;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, tr, td {
    border: 1px solid black;
}

.img-friends {
    width: 100%;
}

.navbar-toggler {
    border: 1px dotted #f9e8c7 !important;
}

.col-lg-4 {
    text-align: center;
}

.carousel-title {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
}

.donation {
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
    text-align: center;
    color: #8f4033;
}

.dropdown-menu {
    background-color: #8f4033;
    color: #e2cd9f;
}

.dropdown-menu a {
    color: #e2cd9f;
}

.dropdown-menu a:hover {
    background-color: #7e3022;
    color: #e2cd9f;
}

.featurette-divider {
    margin: 5em 0;

}

.featurette-heading {
    margin-top: 2em;
    margin-bottom: 1em;
    font-family: 'Great Vibes', cursive;
    font-weight: 300;
    font-size: 36pt;
    line-height: 1;
    letter-spacing: -.05rem;
}

.footer-href,
.footer-href:hover {
    color: #e2cd9f;
}

.gallery div {
    width: 80%;
    margin: 0 auto;
}

.gallery-bg {
    background-color: #212121;
}

.gallery-h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    text-align: center;
    color: #8f4033;
    margin-top: 2em;
}

.gallery-h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    text-align: center;
    color: #8f4033;
}

.h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 4em;
    text-align: center;
    color: #8f4033;
}

.logo {
    height: 30px;
    width: 30px;
}

.marketing {
    margin-top: 3em;
    margin-bottom: 1.5em;
}

.navbar-brand,
.nav-link {
    color: #e2cd9f !important;
}

.my-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.header2 {
    font-family: 'Great Vibes', cursive;
    font-size: 6em;
    text-align: center;
    color: #8f4033;
    margin-top: 2em;
    margin-bottom: 1em;
}

.pics {
    width: 60em;
    margin-bottom: 0.4em;
    padding: 0.4em;
    background-color: white;
}

.circle {
    width: 2em;
    height: 2em;
    border: 0.5em solid #8f4033;
    border-radius: 50%;
}

.circle span {
    font-family: 'Great Vibes', cursive;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    color: #8f4033;
    position: relative;
    top: -0.45em;
    left: 2em;
}

.line {
    border-left: 0.2em solid #8f4033;
    margin-left: 0.9em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.line p {
    margin-left: 2em;
}

.c-img-2 {
    -webkit-filter: blur(10px);
    filter: blur(10px);
    -webkit-filter: brightness(1.5);
    filter: brightness(0.5);
}
