.navbar-logo {
    display: none;
}

@media screen and (min-width: 1280px ) {
    .navbar-logo {
        position: absolute;
        width: 226px;
        background-color: ghostwhite;
        padding: 16px;
        border: 2px solid #b34041;
        top: 23px;
        transition: 0.3s;
        z-index: 1;
        display: initial;
    }

    .navbar-logo:hover {
        transform: scale(1.04);
        box-shadow: 0px 0px 4px 4px #e2cd9f;
    }
}


